apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  namespace: crypto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      containers:
      - name: producer
        image: satzweb/websocket-producer:latest
        env:
        - name: KAFKA_BROKER
          value: "my-cluster-kafka-bootstrap.infra.svc:9092"
        - name: TOPIC
          value: "crypto-prices"
